.hide{
    width:0; height:0;
    font-size:0; line-height: 0;
    position:absolute;
    visibility:hidden;
}

/* font-family: 'Kaushan Script', cursive; */
a{
    text-decoration:none;
}
img{
    max-width: 100%;
}
article{
    padding:70px 0;
}
article h3{
    font-size:72px;
    text-align:center;
    margin-bottom:50px;
    font-family:'Kaushan Script', cursive;
    color:#333;
}

header{
    z-index:none;
    position:fixed;
    left:0; top:0;
    width:100%;
    padding:18px 0;
    background-color: rgba(56, 30, 59, 0.726);
}
header div{
    width:98%/* 1160px */;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color: green;
}
header div h1{}
header div h1 a{
    font-size: 30px; color:#fff;
}
header div nav{}
header div nav ul{
    display:flex;
}
header div nav ul li{
    display:inline-block;
    margin-left:34px;
}
header div nav ul li a{
    color:#fff;
    font-size: 18px;
    font-weight:bold;
}
header>.btn{
    position:absolute;
    right: 20px;
    top: 18px;
    width:40px; height:40px;
    background-color: red;
    display:none;
}

/* #box01 */
#box01{
    height:100vh;
    background:url(../images/header_back.png) no-repeat center top;
}
#box01 h3{
    position:absolute;
    top:24%; left:0;
    width:100%;
    text-align: center;
    color:#fff;
    font-size:75px;
    font-family: 'Raleway', sans-serif;

}
#box01 ul{
    position:absolute;
    bottom:16.5%; left:50%;
    margin-left: -50%/* -565px */;
    width:97.41379310344828%/* 1130px */;
    background-color: green;
    display:flex;
    flex-wrap:wrap;
    color:#fff;
}
#box01 ul li{
    width:33.333333%
}
#box01 ul li span{
    display:block;
    /* %값 안하기 */
    width:230px;
    height:230px;
    margin: 0 auto 17px;
    background-color: rgba(255,255,255,0.7) url(../images/header_icon_01.png);
    border-radius:50%;
}
#box01 ul li:nth-child(2) span{background-image: url(../images/header_icon_02.png)}
#box01 ul li:nth-child(3) span{background-image: url(../images/header_icon_02.png)}
#box01 ul li dl{
    width:230px;
    margin: 0 auto;
    font-size:14px;
}
#box01 ul li dl dt{
    margin-bottom:10px;
}

/* box02 */
#box02{

    background-color:#e8e8e8;
}
#box02>h3{
    font-size:72px;
    text-align:center;
    margin-bottom:50px;
    font-family:'Kaushan Script', cursive;
    color:#333;
}
#box02 section{
    width:98%/* 1160px */;
    margin:0 auto;
    background-color: green;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
#box02 section h4{width:26.89655172413793%/* 312px */;}
#box02 section ul{width:63.44827586206897%/* 736px */;}
#box02 section.info{
    margin-bottom:68px;
}
#box02 section.info h4{

}
#box02 section.info ul{
    background-color: pink;
    font-size:18px;

}
#box02 section.info ul li{
    padding-bottom:20px;
    border-bottom:1px solid #fff;
    margin-bottom:16px;
    display:flex;
}
#box02 section.info ul li dfn{
    display: inline-block;
    /*  */
    width:145px;
}
#box02 section.info ul li span{
    display: inline-block;
}
#box02 section.skill{}
#box02 section.skill h4{}
#box02 section.skill ul{
    background-color: orange;
}
#box02 section.skill ul li{
    padding-left:145px;
    position:relative;
    margin-bottom:39px;
}
#box02 section.skill ul li dfn{
    width:145px;
    position:absolute;
    top:0; left:0;
    line-height:32px;
}
#box02 section.skill ul li span{
    display:block;
    width:100%;
    background-color: #333 url(../images/bar.gif) no-repeat left top;
    text-indent : -99999px;
    height:32px;
}
#box02 section.skill ul li:nth-child(1) span{background-size:85% 100%}
#box02 section.skill ul li:nth-child(2) span{background-size:70% 100%}
#box02 section.skill ul li:nth-child(3) span{background-size:80% 100%}
#box02 section.skill ul li:nth-child(4) span{background-size:65% 100%}
#box02 section.skill ul li:nth-child(5) span{background-size:75% 100%}


/* box03 */
#box03{
    padding-bottom:0;
}
#box03 ul{
    display:flex;
    justify-content: center;
}
#box03 ul li{
    padding:0 20;
    border-left:1px solid #666;
}
#box03 ul li:first-child{
    border-left:none;
}
#box03 ul li a{
    font-size:18px; 
    color:#666;
}
#gallery{
    position:relative;
}
#show{}
#all{
    width:97.41379310344828%/* 1130px */;
    display:flex;
    flex-wrap:wrap;
    margin: 0 auto;

}
#all figure{
    width:33.33333%;
    margin-bottom:73px;
    background-color: green;
    text-align:center;
}
#all figure img{
    width:250px;
    margin:0 auto 29px;
    border-radius: 50%;
}
#gallery>p{
    position:absolute;
    top:50%;
    width:35px;
    height:35px;
    background-color: red;
    display:none;
}
#gallery>p.prev{
    left:50px;
}
#gallery>p.next{
    right:50px;
}

#modal{
    z-index:1500;
    position:fixed;
    left:0; top:0;
    width:100%;
    height:100%;
    z-index:999;
    background-color: rgba(0,0,0,0.7);
    display:none;
}

/* box04 */
#box04{
    background-color: #f93c64;
}
#box04 h3{
    color:#fff;
}
#box04 div{
    width:98%/*  1160px */;
    margin: 0 auto;

}
#box04 div form{
    width: 91.89655172413793% /* 1066px */;
}
#box04 div form ul{}
#box04 div form ul li{
    margin-bottom:35px;
    position:relative;
    padding-left:145px;
}
#box04 div form ul li label{
    position:absolute;
    width:145px;
    display:block;
    line-height:50px;
    left:0; top:0;
    padding-left:50px;
    box-sizing:border-box;
    font-size:22px;
    color:#fff;
    background-image: url(../images/contact_icon_01.png) no-repeat 15px center;
}
#box04 div form ul li:nth-child(2) label{background-image: url(../images/contact_icon_02.png) no-repeat 15px center;}
#box04 div form ul li:nth-child(3) label{background-image: url(../images/contact_icon_03.png) no-repeat 15px center;}
#box04 div form ul li:nth-child(4) label{background-image: url(../images/contact_icon_04.png) no-repeat 15px center;}
#box04 div form ul li input{
    line-height:50px;
    border:none;
    box-sizing:border-box;
    width:100%;
    background-color: #fff;
}
#box04 div form ul li textarea{
    height:168px;
    line-height:50px;
    border:none;
    box-sizing:border-box;
    width:100%;
    background-color: #fff;
}
#box04 div form p{text-align:right;}
#box04 div form p input{
    width:125px;
    line-height:45px;
    font-size:20px;
    background-color:#f69d20 ;
    border:none;
    color:#fff;
    border-radius:10px;
}

aside .submenu{
    position: fixed;
    right:15px;
    top:50%;
    z-index:1000;
}
aside .submenu li{
    margin-bottom:20px;
}
aside .submenu li a{
    display:block;
    width:25px;
    height:25px;
    border-radius:50%;
    background-color: red;
    text-indent:-999999px;
}
aside .top{
    position:fixed;
    right:15px;
    bottom:25px;
    width: 45px;
    height:45px;
    text-indent:-99999px;
    background-color: red;
}

footer{
    padding:45px 0;
    font-size:white;
    color:#fff;
    text-align:center;
    background-color: #333;
}